<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/estilo.css">
        <link rel="icon" href="/imagens/weather.png">
        <title>About</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>Esse site foi criado por {{name}}. Ele usa informações de <a href="https://weatherstack.com/" target="_blank">weatherstack.com</a> e também do <a href="https://www.mapbox.com/" target="_blank">mapbox.com</a></p>
        </div>
        {{>footer}}
    </body>
</html>