<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/estilo.css">
        <link rel="icon" href="/imagens/weather.png">
        <title>Help</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <img class="portrait" src="/imagens/money-check-alt-solid.svg" alt="">
        </div>
        {{>footer}}
    </body>
</html>