<html>
    <head>
        <link rel="stylesheet" href="/css/estilo.css">
        <title>NotFound</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{text}}
        </div>
        {{>footer}}
    </body>
</html